 body{
     	
     	margin-top:20px;
     	margin-left: 20px;
     	margin-right: 20px;
     }
     table tr:nth-child(even){

     	border:0;
     	padding:0px;
     	background-color: #E9E9E9;
 }

.center{
     	text-align:center;
     }
